<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ 'FORGOT_PASSWORD' | translate }}</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="onDismiss()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-text color="dark">
    <p>{{ 'FORGOT_PASSWORD_HELP' | translate }}<p>
  </ion-text>

  <form [formGroup]="form" #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

    <ion-label position="stacked" color="medium">
      <span class="bold">{{ 'EMAIL' | translate }}</span>
    </ion-label>
    <ion-item class="ion-margin-vertical" lines="none" color="light">
      <ion-input type="email" formControlName="email"
        (keyup.enter)="forgotPasswordForm.ngSubmit.emit()">
      </ion-input>
    </ion-item>

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="6" size-md="4" class="ion-text-center">
        <ion-button type="submit" shape="round" expand="block" color="light"
          [disabled]="isLoadingViewVisible">
          <ion-spinner color="dark" *ngIf="isLoadingViewVisible"></ion-spinner>
          <span *ngIf="!isLoadingViewVisible">{{ 'SUBMIT' | translate }}</span>
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
<ion-footer>
  <ion-tab-bar>

    <ion-tab-button tab="home" layout="icon-top">
      <img style="max-width: 50%; margin-top:inherit;object-fit: contain;" src="../../../assets/imgs/home.png">
      <ion-label>{{ 'HOME' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="browse" layout="icon-top">
      <img  style="max-width: 50%; margin-top:inherit;object-fit: contain;" src="../../../assets/imgs/squares.svg" >
      <ion-label>{{ 'BROWSE' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account/favorites" layout="icon-top" >
      <img   style="max-width: 50%;max-height:50%; margin-top:inherit;"  src="../../../assets/imgs/heart.svg">
      <ion-label style="font-size: inherit;">{{ 'FAVORITES' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cart" layout="icon-top">
      <img  style="max-width: 50%;max-height:50%; margin-top:inherit;" src="../../../assets/imgs/shopping_cart.svg" >
      <ion-label>{{ 'CART' | translate }}</ion-label>
      <ion-badge style="font-size: inherit;" color="light" 
      *ngIf="preference.cartCount">
      {{ preference.cartCount }}
    </ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="account" layout="icon-top">
      <img  style="max-width: 50%;max-height:50%; margin-top:inherit;" src="../../../assets/imgs/profile.svg" >
      <ion-label>{{ 'ACCOUNT' | translate }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

 
</ion-footer>