<ion-header class="ion-no-border">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onDismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'PAYMENT' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onAddButtonTouched()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}" refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <empty-view *ngIf="isErrorViewVisible" icon="alert-circle-outline" [text]="'ERROR_DATA' | translate">
  </empty-view>

  <empty-view *ngIf="isEmptyViewVisible" image="./assets/imgs/undraw_credit_card_df1m.svg" imageWidth="200" [text]="'EMPTY_CARDS' | translate">
  </empty-view>

  <ion-list lines="none" margin-top *ngIf="isContentViewVisible">
    <ion-item color="light" margin-bottom *ngFor="let card of cards">
      <img src="./assets/imgs/{{card.formatBrand()}}.png" width="40" slot="start" />
      <ion-label>
        <p>&#8226;&#8226;&#8226;&#8226; {{ card.last4 }}</p>
      </ion-label>
      <ion-button strong size="small" color="primary" slot="end" (click)="onCardTouched(card)">
        {{ 'CHOOSE_THIS_PAYMENT_METHOD' | translate }}
      </ion-button>
    </ion-item>
  </ion-list>

  <div margin-vertical *ngIf="isLoadingViewVisible">
    <ngx-skeleton-loader count="12" [theme]="{ 'border-radius': '0', height: '70px' }">
    </ngx-skeleton-loader>
  </div>

</ion-content>
<ion-footer>
  <ion-tab-bar>

    <ion-tab-button tab="home" layout="icon-top">
      <img style="max-width: 50%; margin-top:inherit;object-fit: contain;" src="../../../assets/imgs/home.png">
      <ion-label>{{ 'HOME' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="browse" layout="icon-top">
      <img  style="max-width: 50%; margin-top:inherit;object-fit: contain;" src="../../../assets/imgs/squares.svg" >
      <ion-label>{{ 'BROWSE' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account/favorites" layout="icon-top" >
      <img   style="max-width: 50%;max-height:50%; margin-top:inherit;"  src="../../../assets/imgs/heart.svg">
      <ion-label style="font-size: inherit;">{{ 'FAVORITES' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cart" layout="icon-top">
      <img  style="max-width: 50%;max-height:50%; margin-top:inherit;" src="../../../assets/imgs/shopping_cart.svg" >
      <ion-label>{{ 'CART' | translate }}</ion-label>
      <ion-badge style="font-size: inherit;" color="light" 
      *ngIf="preference.cartCount">
      {{ preference.cartCount }}
    </ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="account" layout="icon-top">
      <img  style="max-width: 50%;max-height:50%; margin-top:inherit;" src="../../../assets/imgs/profile.svg" >
      <ion-label>{{ 'ACCOUNT' | translate }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

 
</ion-footer>